{% extends "base.html.twig" %}

{% block body %}
    <header class="site-header">
        <div class="site-content o-grid o-grid--center">
            <div class="o-grid__item u-1/6@sm-up">
                <div class="site-header__logo">
                    <img src="{{ asset('assets/img/logo.svg') }}" alt="SR Playlist">
                </div>
            </div>
            <div class="o-grid__item u-{{ app.user is not null ? 4 : 5 }}/6@sm-up">
                {% include ":search:form.html.twig" %}
            </div>
            {% if app.user is not null %}
                <div class="o-grid__item u-1/6@sm-up">
                    Inloggad som {{ app.user.displayName }}
                </div>
            {% endif %}
        </div>
    </header>

    <div class="container site-content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
