{% extends "base.html.twig" %}

{% block body %}
    <header class="site-header">
        <div class="site-content">
            <div class="site-logo">
                <img src="{{ asset('assets/img/logo.svg') }}" alt="SR Playlist">
            </div>
        </div>
    </header>

    <div class="container site-content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}