<ul class="list-bare" id="jst-tracklist">
</ul>

<script type="text/template" id="jst-track-template">
    <li class="o-grid u-pb">
        <div class="o-grid__item u-1/5">
            <img src="" alt="" class="jst-album-image">
        </div>
        <div class="o-grid__item u-4/5">
            <h3 class="u-m0 jst-track-name"></h3>
            <ul class="list-bare">
                <li><strong class="jst-track-artists"></strong>
                    <span class="jst-album-name"></span>
                <li class="jst-spotify-uri">
                    <a href="" class="jst-spotify-uri-a">Öppna i Spotify</a>
            </ul>
        </div>
    </li>
</script>

<script type="text/template" id="jst-tracklist-empty">
    <li><h2>Det finns inga låtar listade för det här avsnittet :(</h2>
</script>
