.txt-color-light-grey {
  color: $color-light-grey;
}
.txt-color-primary {
  color: $color-primary;
}


.txt-italic {
  font-style: italic;
}
.txt-bold {
  font-weight: bold;
}


.txt-xxl {
  font-size: $txt-xxl;
}

.txt-xl {
  font-size: $txt-xl;
}

.txt-lg {
  font-size: $txt-lg;
}

.txt-md {
  font-size: $txt-md;
}

.txt-sm {
  font-size: $txt-sm;
}

.txt-xs {
  font-size: $txt-xs;
}
