.site-header {
  border-bottom: 1px $color-light-grey solid;

  margin-bottom: $inuit-base-spacing-unit;
  padding-top: $inuit-base-spacing-unit;
  padding-bottom: $inuit-base-spacing-unit;
}

.site-logo {
  width: 120px;
}