.site-header {
  border-bottom: 1px $color-light-grey solid;

  margin-bottom: $inuit-base-spacing-unit;
  padding-top: $inuit-base-spacing-unit;
  padding-bottom: $inuit-base-spacing-unit;
}

.site-header__logo {
  max-width: 120px;

  @media (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.site-header__search {
  width: 100%;
  font-size: $txt-xl;
  padding: $inuit-base-spacing-unit--small;

  border: 1px solid $color-very-light-grey;

  &:focus {
    outline: none;
  }
}
