.bare-link {
  color: inherit;
  text-decoration: inherit;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.bare-links a {
  @extend .bare-link;
}

.bare-button {
  background: transparent;
  border: none;
  border-radius: 0;
}

.box-center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
.text-black {
  color: #000;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
