.svg-icon {
  display: inline-block;
  line-height: 0;
}

  .svg-icon__svg {
    fill: #000;
    max-width: 100%;
  }
  .svg-icon__svg--color-primary {
    fill: $color-primary;
  }

  .svg-icon--magnifying-glass {
    width: 27px;
    height: 27px;
  }
  .svg-icon--magnifying-glass--xl {
    width: 60px;
    height: 60px;
  }
