.svg-icon {
  display: inline-block;
  line-height: 0;
}

  .svg-icon__svg {
    fill: #000;
    max-width: 100%;
  }
  .svg-icon__svg--color-primary {
    fill: $color-primary;
  }
  .svg-icon__svg--color-very-light-grey {
    fill: $color-very-light-grey;
  }

  .svg-icon--magnifying-glass {
    width: 27px;
    height: 27px;
  }
  .svg-icon--magnifying-glass--xl {
    width: 60px;
    height: 60px;
  }

  .svg-icon--caret-left {
    width: 12px;
    height: 12px;
    transform: rotate(270deg);
  }
  .svg-icon--caret-right {
    width: 12px;
    height: 12px;
    transform: rotate(90deg);
  }

.svg-icon--scalable {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
}
  .svg-icon--scalable__svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
