{% extends "::layout.html.twig" %}

{% block title %}Sökresultat för {{ searchTerm }}{% endblock %}

{% block content %}
    <h1>Sökresultat för <em>{{ searchTerm }}</em></h1>

    <h2>Inget hittades :(</h2>

    <h2>Försök igen:</h2>
    {% include ":search:episodes_form.html.twig" %}
{% endblock %}
