{% extends "::layout.html.twig" %}

{% block title %}Search result for {{ searchTerm }}{% endblock %}

{% block content %}
    <h1>Searched for: {{ searchTerm }}</h1>

    <h2>No results found :(</h2>
{% endblock %}
